name: Publish Docker image
on:
  push:
    branches:
      - "main"
    tags:
      - "*"
    paths:
      - 'src/**'
      - 'include/**'
      - 'tools/**'
      - 'CMakeLists.txt'
      - '.github/workflows/**'
  workflow_dispatch:

jobs:
  extract_image_tag: 
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.imgtag.outputs.tag }}

    steps:
      - name: Determine image tag
        id: imgtag
        # if git tag, use that, if manually dispatched use the branch name 
        # else fall back to latest
        run: |
          if [[ "${GITHUB_REF_TYPE}" == "tag" ]]; then
            echo "tag=${GITHUB_REF_NAME}" >> $GITHUB_OUTPUT
          elif [[ "${GITHUB_EVENT_NAME}" == "workflow_dispatch" ]]; then
            echo "tag=${GITHUB_REF_NAME}" >> $GITHUB_OUTPUT
          else
            echo "tag=latest" >> $GITHUB_OUTPUT
          fi
        shell: bash

  build_publish:
    needs: [extract_image_tag]
    strategy:
      matrix:
        os: [ubuntu-latest, ubuntu-24.04-arm]

    if: ${{ github.repository_owner == 'chrstnbwnkl' }}
    runs-on: ${{ matrix.os }}

    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
        with:
          submodules: "recursive"
          fetch-depth: 0

      - name: Determine platform and tag suffix
        id: vars
        run: |
          if [ "${{ matrix.os }}" = "ubuntu-latest" ]; then
            echo "platform=linux/amd64" >> "$GITHUB_OUTPUT"
            echo "tagsuffix=amd64" >> "$GITHUB_OUTPUT"
            echo "arch=amd64" >> "$GITHUB_OUTPUT"
          else
            echo "platform=linux/arm64" >> "$GITHUB_OUTPUT"
            echo "tagsuffix=arm64" >> "$GITHUB_OUTPUT"
            echo "arch=arm64" >> "$GITHUB_OUTPUT"
          fi

      - name: Log in to GitHub Docker Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: container/Dockerfile
          provenance: false # needed to be able to converge into one image
          platforms: ${{ steps.vars.outputs.platform }}
          push: true
          tags: ghcr.io/chrstnbwnkl/parking_space_import:${{ needs.extract_image_tag.outputs.tag }}-${{ steps.vars.outputs.tagsuffix }}
          cache-from: type=gha,scope=${{ steps.vars.outputs.platform }}
          cache-to: type=gha,mode=max,scope=${{ steps.vars.outputs.platform }}

  create-manifests:
    runs-on: ubuntu-latest
    needs: [build_publish, extract_image_tag]
    steps:
      - name: Log in to GitHub Docker Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Create and push manifest
        run: |
          docker manifest create \
            ghcr.io/chrstnbwnkl/parking_space_import:${{ needs.extract_image_tag.outputs.tag }} \
            --amend ghcr.io/chrstnbwnkl/parking_space_import:${{  needs.extract_image_tag.outputs.tag  }}-amd64 \
            --amend ghcr.io/chrstnbwnkl/parking_space_import:${{ needs.extract_image_tag.outputs.tag }}-arm64 
          docker manifest push ghcr.io/chrstnbwnkl/parking_space_import:${{ needs.extract_image_tag.outputs.tag }}
